body {
  font-family: Arial;
}
.item {
  display: flex;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
}
.item__value {
  margin-right: 5px;
}

.loader {
  position: absolute;
  width: 100px;
  display: none;
  top: 200px;
  left: 70%;
}
.loader_active {
  display: block;
}
