body {
  font-family: Arial;
}
.item {
  display: flex;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
}
.item__value {
  margin-right: 5px;
}
.card{
  min-height: 50vh;
  position: relative;
}

.loader {
  position: absolute;
  width: 100px;
  display: none;
  top: 50%;
  left: 50%;
}
.loader_active {
  display: block;
}
.btnRefresh{
  display: none;
}

.btnRefresh_active{
  display: block;
}